@{
    Layout = null;
}

@model Vault2.Controllers.ProcessController

@if (ViewBag.HomeFolder != ViewBag.CurrentFolder.Id)
{
    <div class='gridItem' data-folder-id='@ViewBag.CurrentFolder.FolderId'
         ondrop='drop(event)'
         onclick='processMove(event)'
         style='background-color: rgba(255, 255, 255, 0.27);
         border: 2px solid rgba(255, 246, 182, 0);'>

        <div data-folder-id="@ViewBag.CurrentFolder.FolderId"
             ondragstart="dragStart(event)"
             draggable="true" class="grid-icon"
             style="background-image: url('/manager/images/folder-icon.png');">

            <br /><br /><br /><br />
            ...
            <br>
        </div>
    </div>
}
else
{
    @if (ViewBag.IsEmpty)
    {
        <center>
            <img style="max-width:100%;max-height:100%;" src="/manager/images/ui/wind.png" />
        </center>
        return;
    }
}

@foreach (var folder in ViewBag.Folders)
{
    @switch (folder.Colour)
    {
        case 1:
            ViewBag.FolderIcon = "/manager/images/folder-icon2.png";
            ViewBag.FolderStyle = "background-color: #efd1ff;border: 2px solid #ffb6fd;";
            break;
        case 2:
            ViewBag.FolderIcon = "/manager/images/folder-icon3.png";
            ViewBag.FolderStyle = "background-color: #d1ffe1;border: 2px solid #b6ffbf;";
            break;
        case 3:
            ViewBag.FolderIcon = "/manager/images/folder-icon4.png";
            ViewBag.FolderStyle = "background-color: #ffd1d1;border: 2px solid #ffb6b6;";
            break;
        case 4:
            ViewBag.FolderIcon = "/manager/images/folder-icon5.png";
            ViewBag.FolderStyle = "background-color: #d1f7ff;border: 2px solid #b6e4ff;";
            break;
        default:
            ViewBag.FolderIcon = "/manager/images/folder-icon.png";
            ViewBag.FolderStyle = "background-color: #ffffd1;border: 2px solid #fff6b6;";
            break;
    }

    <div class='gridItem' 
         data-folder-id='@folder.Id'
         data-folder-title='@folder.Name'
         ondragend='dragEnd(event)'
         ondragstart='dragStart(event)' 
         ondrop='drop(event)'
         onclick='processMove(event)'
         oncontextmenu="contextMenuFolder(event)"
         draggable='true'
         style='@ViewBag.FolderStyle'>

        <div data-folder-id="@folder.Id"
             ondragstart="dragStart(event)"
             draggable="true" class="grid-icon"
             style="background-image: url('@ViewBag.FolderIcon');">

            <br /><br /><br /><br />
            @folder.Name.Substring(0, (folder.Name.Length < 10) ? folder.Name.Length : 10)
            <br>

            <a data-folder-id="@folder.Id" data-delete="1" class="x-button" onclick="processDeleteFolder(event);">
                <img data-folder-id="@folder.Id" data-delete="1"
                     src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAiElEQVR42r2RsQrDMAxEBRdl8S
                    DcX8lQPGg1GBI6lvz/h7QyRRXV0qUULwfvwZ1tenw5PxToRPWMC52eA9+WDnlh3HFQ/xBQl86NFYJqeGflkiogrOvVlIFhqURFVho
                    3x1moGAa3deMs+LS30CAhBN5nNxeT5hbJ1zwmji2k+aF6NENIPf/hs54f0sZFUVAMigAAAABJRU5ErkJggg==" />
            </a>
        </div>
    </div>
}

@foreach (var file in ViewBag.Files)
{
    ViewBag.DownloadAction = "processDownload(event)";

    @switch (file.Ext)
    {
        case ".zip":
        case ".rar":
        case ".tar":
        case ".gz":
        case ".zipx":
            ViewBag.Icon = "/manager/images/zip-icon.png";
            break;
        case ".mov":
        case ".mp4":
        case ".webm":
            ViewBag.Icon = "/manager/images/video-icon.png";
            break;
        case ".docx":
        case ".asd":
        case ".dotx":
        case ".dotm":
        case ".wbk":
        case ".docm":
            ViewBag.Icon = "/manager/images/word-icon.png";
            break;
        case ".pptx":
        case ".pps":
            ViewBag.Icon = "/manager/images/PowerPoint-icon.png";
            break;
        case ".pub":
            ViewBag.Icon = "/manager/images/Publisher-icon.png";
            break;
        case ".exe":
        case ".app":
        case ".dmg":
        case ".bat":
        case ".elf":
        case ".sys":
        case ".msi":
        case ".sh":
        case ".deb":
        case ".com":
            ViewBag.Icon = "/manager/images/shell-icon.png";
            break;
        case ".xlsx":
        case ".xls":
            ViewBag.Icon = "/manager/images/Excel-icon.png";
            break;
        case ".png":
        case ".jpg":
        case ".jpeg":
        case ".bmp":
        case ".pjpeg":
        case ".gif":
            ViewBag.Icon = "/manager/process/thumbnail/" + file.Id;
            ViewBag.DownloadAction = "viewImage(event)";
            break;
        default:
            ViewBag.Icon = "/manager/images/unknown-icon.png";
            break;
    }

    <div class='gridItem'
         data-file-id='@file.Id'
         data-file-title='@file.Name'
         data-file-shared='@file.IsSharing'
         data-file-share='@file.ShareId'
         data-file-sharekey='@file.ShareKey'
         ondragend='dragEnd(event)'
         ondragstart='dragStart(event)'
         ondrop='drop(event)'
         oncontextmenu="contextMenuFile(event)"
         onclick='@ViewBag.DownloadAction'
         draggable='true'>

        <div class="grid-icon"
             data-file-id="@file.Id"
             ondragstart="dragStart(event)"
             draggable="true"
             style="background-image: url('@ViewBag.Icon');margin-bottom:10px;">

            <br /><br /><br /><br />

            @file.Name.Substring(0, (file.Name.Length < 10) ? file.Name.Length : 10)

            <br>

            <a data-file-id="@file.Id" data-delete="1" class="x-button" onclick="processDelete(@file.Id);">
                <img data-file-id="@file.Id" data-delete="1"
                     src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAiElEQVR42r2RsQrDMAxEBRdl8S
                    DcX8lQPGg1GBI6lvz/h7QyRRXV0qUULwfvwZ1tenw5PxToRPWMC52eA9+WDnlh3HFQ/xBQl86NFYJqeGflkiogrOvVlIFhqURFVho
                    3x1moGAa3deMs+LS30CAhBN5nNxeT5hbJ1zwmji2k+aF6NENIPf/hs54f0sZFUVAMigAAAABJRU5ErkJggg==" />
            </a>
        </div>
    </div>
}


