@{
    Layout = null;
}

@model Vault.Controllers.LoginController

<div>
    <b style="font-size:18px;">Email:</b><br>
    <em style="font-size:25px;">@ViewBag.User.Email</em><br><br>

    <b style="font-size:18px;">Name:</b><br>
    <em style="font-size:25px;">@ViewBag.User.Name</em><br><br>

    <b style="font-size:18px;">Storage:</b><br>
    <em style="font-size:14px;">@ViewBag.Storage</em><br><br>

    <b style="font-size:18px;">API Key:</b><br>

    @if (ViewBag.User.APIKey.Length > 0)
    {
        <em style="font-size:12px;">@ViewBag.User.APIKey</em><br><br>
        <img src="/images/sharex.svg" style="height:24px; cursor:pointer;" onclick="downloadShareX('@ViewBag.User.APIKey')" />
    }
    else
    {
        <em style="font-size:25px;" id="api-key">-</em><br>
    }

    <hr style="margin-bottom: 30px;">
    <p>You can update your settings from here:</p><br />
    <a onclick="processChangePassword()" style="cursor:pointer;" class="btn black">Change Password</a>
    <a onclick="toggleDarkMode()" style="cursor:pointer;" class="btn black">Toggle Darkmode</a>
    <a onclick="toggleAPI()" style="cursor:pointer;" class="btn black">Toggle API</a>
</div>