@{
    Layout = null;
}

@model Vault.Controllers.ShareController

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>@System.Net.WebUtility.HtmlDecode(@ViewBag.Folder.Name) - Vault</title>

    <link rel="stylesheet" type="text/css" href="../../css/login.css">
    <link rel="stylesheet" type="text/css" href="../../css/sweetalert.css">
    <link rel="stylesheet" type="text/css" href="../../css/share.css">

    <link href="https://fonts.googleapis.com/css?family=Abhaya+Libre" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="topbar">
        <h3><img src="../../images/folder-icon.png" class="topbar-icon" /> @System.Net.WebUtility.HtmlDecode(@ViewBag.Folder.Name) Folder</h3>
    </div>
    <div class="btn-download-viewer" onclick="document.getElementById('download-form').submit();"></div>

    <div id="loader-horizontal"></div>
    <div id="listings">
        <div id="folder-listing"></div>
        <div id="file-listing"></div>
    </div>

    <div id="file-viewer" onclick="hideFileViewer()"></div>
    <form id="download-form" action="../../share/folder/dl/@ViewBag.Folder.Id/@ViewBag.Folder.ShareId" method="post"></form>

    <script type="text/javascript" src="../../js/sweetalert.min.js"></script>
    <script type="text/javascript" src="../../js/action.js"></script>
    <script>processSharedListFiles(@ViewBag.Folder.Id, "@ViewBag.ShareId");</script>
</body>
</html>
