@{
    Layout = null;
}

@model Vault.Controllers.ShareController

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>@System.Net.WebUtility.HtmlDecode(@ViewBag.File.Name) - Vault</title>

    <link rel="stylesheet" type="text/css" href="../css/login.css">
    <link rel="stylesheet" type="text/css" href="../css/sweetalert.css">
    <link rel="stylesheet" type="text/css" href="../css/share.css">

    <link href="https://fonts.googleapis.com/css?family=Abhaya+Libre" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="topbar">
        <h3><img src="../@ViewBag.Icon" class="topbar-icon" /> @System.Net.WebUtility.HtmlDecode(@ViewBag.File.Name)</h3>
    </div>
    <div class="btn-info" onclick="fileInfo();"></div>
    <div class="btn-download" onclick="document.getElementById('download-form').submit();"></div>

    <center>
        @if (ViewBag.Preview == "1")
        {
            <div id="share-box" style="margin-top: 75px;">
                <img src="../i/@ViewBag.File.ShareId" class="image-preview" />
            </div>
            <form id="download-form" action="dl/@ViewBag.File.ShareId" method="post"></form>
        }
        else if (ViewBag.Preview == "2")
        {
            <div id="share-box" style="margin-top: 75px;">
                <video class="image-preview" controls>
                    <source src="../i/@ViewBag.File.ShareId" type="video/mp4">
                    <source src="../i/@ViewBag.File.ShareId" type="video/ogg">
                </video>
            </div>
            <form id="download-form" action="dl/@ViewBag.File.ShareId" method="post"></form>
        }
        else if (ViewBag.Preview == "3")
        {
            <div id="share-box" style="margin-top: 75px;">
                <iframe src="../i/@ViewBag.File.ShareId" frameborder="0"
                        style="margin: 0 auto;
                        position: absolute;
                        left: 10%;
                        width: 80%;
                        height: 100%;
                        border: none;" 
                        class="image-preview">
                </iframe>
            </div>
            <form id="download-form" action="dl/@ViewBag.File.ShareId" method="post"></form>
        }
        else
        {
            <div class="content">
                <p>No preview is available for this file type.</p>
                <form id="download-form" action="dl/@ViewBag.File.ShareId" method="post">
                    <input type="submit" value="Download">
                </form>
            </div>
        }
        <br /><br />
    </center>
    <script type="text/javascript" src="../js/sweetalert.min.js"></script>
    <script>
    function fileInfo()
    {
        swal({
            title: null,
            html: true,
            showConfirmButton: false,
            animation: "pulse",

            text: `<h3>Name:</h3>
                <b>@ViewBag.File.Name</b>

                <h3>Size:</h3>
                <b>@ViewBag.FileSize</b>

                <h3>Type:</h3>
                <b>@ViewBag.File.Ext</b>
                <br><br>
                <div class="close-info-button" onclick="swal.close();">Close</div>`
        });
    }
    </script>
</body>
</html>
